footer.footer
    .container
        .row.footer__row.align-items-center
            .col-lg-3 
                a.footer__logo(href="/")
            .col-lg-6
                nav.navbar
                    .navbar__item
                        a.navbar__link(href="/catalog.html") Каталог продукции
                    .navbar__item
                        a.navbar__link(href="/about.html") О компании
                    .navbar__item
                        a.navbar__link(href="/page.html") Доставка и оплата
                    .navbar__item
                        a.navbar__link(href="/contact.html") Контакты
            .col-lg-3
                ul.footer__contact
                    li.footer__item Санкт-Петербург
                    li.footer__item
                        a.footer__link(href="tel:8 (951) 687-80-63") 8 (951) 687-80-63
    .footer__info
        .container
            .row
                .col-md-4
                    p
                        a.footer__link(href="#") Политика конфиденциальности
                .col-md-4.text-center
                    p © 2019. Все права защищены
                .col-md-4.text-right
                    p Сайт разработан в 
                        a.footer__link(href="#") «SOHO»