header.header
    .container
        .row
            .col-xl-3
                .header__logo
                .header__link
                    a.header__phone(href="tel:89516878063") 8 (951) 687-80-63
                .header__link
                    a.header__call#callModal(href="#") Заказать звонок

                nav.navbar
                    .navbar__item
                        a.navbar__link.navbar__link--active(href="/") Главная
                    .navbar__item
                        a.navbar__link(href="/catalog.html") Каталог продукции
                    .navbar__item
                        a.navbar__link(href="/about.html") О компании
                    .navbar__item
                        a.navbar__link(href="/page.html") Доставка и оплата
                    .navbar__item
                        a.navbar__link(href="/contact.html") Контакты
