.btn{
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2em;
    padding: 20px 50px;

    text-transform: uppercase;
    letter-spacing: 2px;

    text-align: center;

    transition: .4s;

    &:hover{
        text-decoration: none;
    }

    &_dark{
        background: $grey;
        color: $light;

        &:hover{
            background: darken($color: $grey, $amount: 10%);
            color: $white;
        }
    }
}