.content{
    padding: 40px 0;

    .content__col{
        &_pl{
            padding-left: 40px;
        }
        &_pr{
            padding-right: 40px;
        }
    }
    .content__title{
        font-weight: 700;
        letter-spacing: 2px;
        // background: $white;
        text-transform: uppercase;
        &_full{
            @extend .h1;
            margin-bottom: 60px;
        }
    }
    .content__intro{
        margin-bottom: 60px;
    }

    .row + .row{
        padding-top: 80px;
    }
    // SEO
    &_seo{
        padding: 40px 0;
        background: $light-bg;
    }
    // Dark Border
    &_border-top{
        border-top: 1px solid darken($grey,10%);
    }
    &_border-bottom{
        border-bottom: 1px solid darken($grey,10%);
    }
    // Dark Bg
    &_dark{
        background: $dark-bg;
        color: $white;
    }
    // Content + Content
    &_pt-none{
        padding-top: 0;
    }
    // Dark Block With Bg-Image
    &_header{
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: $white;

        &:before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            background: rgba(58, 60, 64, .9);
        }

        .h1{
            color: $light;
        }

        &.advantage{
            // padding-bottom: 70px;

            .advantage__title{
                color: $light;
            }
            .advantage__number{
                background: #4f5256;
                color: $grey;
            }
        }
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .content{
        padding: 100px 0;
        &_seo{
            padding: 60px 0;
        }
    }
}