.item{
    &-image{
        position: relative;
        z-index: 11;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .item__title{
        position: relative;
        margin-bottom: 1rem;

        &:after{
            content: '';
            display: none;

            background: $light;
            width: 150px;
            height: 2px;

            position: absolute;
            top: 50%;
            left: 0;

            transform: translateX(-160px);
            
        }
    }
    .item__desc{
        margin-bottom: 0;
        width: 300px;
        max-width: 100%;
        &_full{
            width: 100%;
        }
    }

    & + .item{
        margin-top: 40px;
    }

    // Right Text Col
    &.text-lg-right{
        .item__title{
            &:after{
                transform: translateX( calc(100% + 140px) );
            }
        }
        .item__desc{
            margin-right: 0;
            margin-left: auto;
        }
    }
    
}
@media all and (min-width: map-get($grid-breakpoints, 'lg')){
    .item{
        &-image{
            margin-top: 0;
            margin-bottom: 0;
        }
        .item__title{
            &:after{
                display: block;
            }
        }
        // Col With Padding
        &_padding{
            padding-left: 180px;
            .item__title:after{
                transform: translateX(-180px);
            }
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .item{
        .item__title{
            &:after{
                transform: translateX(-180px);
            }
        }
        &.text-lg-right{
            .item__title{
                &:after{
                    transform: translateX( calc(100% + 180px) );
                }
            }
        }
    }
}