.slider{
    position: relative;
    .slider__content{
        &_fixed{

            background: $white;
            max-width: 100%;
            width: 500px;

            padding: 20px;

            z-index: 2;
        }
    }
    .slider__image{
        .slick-prev, .slick-next{
            top: 0px;
            transform: translateY(0px);

            background: $grey;
            
            width: 80px;
            height: 80px;
            z-index: 2;

            opacity: .7;
            transition: .3s;
            
            &:hover{
                opacity: 1;
            }
            &:before{
                content:'';
            }
        }
        .slick-prev{
            left: auto;
            right: 82px;   
            background: $grey url("/img/left-arrow_w.svg") no-repeat center / 20px;         
        }
        .slick-next{
            right: 0;
            background: $grey url("/img/right-arrow_w.svg") no-repeat center / 20px;         
        }
    }
    .slider__nav{
        margin-top: 40px;
        .slick-track{
            margin-left: 0;
            transform: translate3d(0px, 0px, 0px)!important;
            .slider__item{
                margin-right: 20px;
                border: 6px solid;
                border-color: rgba(255,255,255,0);
                filter: grayscale(100%);

                &.slick-current{
                    border: 6px solid $grey;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .slider__item{
        width: 100%;
        height: auto;
    }

    &_index{
        max-width: 100%;
        margin-left: auto;
        z-index: 11;
        
        .slider__item{
            height: 300px;
            background-position: center;
            background-size: cover;
        }
        .slider__image{
            .slick-prev, .slick-next{
                top: 220px;
            }
        }
        .slider__content{
            .btn{
                width: 250px;
                max-width: 100%;
            }
        }
        .slider__title{
            font-size: 1.75rem;
            line-height: 1.25em;
            margin-bottom: 2rem;
        }
        .slider__intro{
            font-size: 1.15rem;
            line-height: 1.5em;
            margin-bottom: 2.25rem;
            &.last{
                margin-bottom: 0;
            }
        }
    }
    &_for{
        margin-bottom: 40px;
        .slider__image{
            .slick-prev, .slick-next{
                top: auto;
                bottom: 0;
            }
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .slider{
        .slider__image{
            .slick-prev, .slick-next{
                top: auto;
                bottom: 0;
            }
        }
        .slider__content{
            padding: 40px;
            height: auto;
            &_fixed{
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        &_index{
            .slider__item{
                height: 90vh;
                min-height: 500px;
                margin-bottom: 0px;
            }
            .slider__title{
                font-size: 2rem;
            }
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'lg')){
    .slider{
        &_index{
            max-width: calc( 25% + 480px );        
            .slider__item{
                height: 90vh;
                min-height: 500px;
                margin-bottom: 0px;
            }
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .slider{
        .slider__content{
            &_fixed{
                width: 580px;
            }
        }
        &_index{
            max-width: calc( 25% + 700px );
            .slider__title{
                font-size: 2.25rem;
            }
        }
    }
}