html(lang="ru")
    include chunks/head.pug
    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header_inline.pug
        main
            section.content.content_seo
                .container
                    .row.justify-content-center
                        .col-xl-7.col-lg-10.text-center
                            h1.h1.text-bold Доставка и оплата
                            ul.breadcrumbs.justify-content-center
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Главная
                                li.sep /
                                li.breadcrumbs__item Текстовая страница
                            p.content__intro День и время доставки вы можете выбрать при оформлении заказа. 
                                | Вес указан в характеристиках на странице товара. Подробнее обо всех условиях можно прочитать здесь. Возможность и стоимость доставки зависит от адреса.
                                | Вес указан в характеристиках на странице товара.
                        .col-xl-7.col-lg-10
                            h2 Заголовок h2
                            p Мы разумно используем природные богатства и помогаем планете их возобновлять. Мы даем вторую жизнь отслужившим товарам, которые становятся сырьем для новых вещей.
                            ul
                                li пункт 1
                                li пункт 2
                                li пункт 3
                                li пункт 4
                            h3 Заголовок h3
                            p Мы разумно используем природные богатства и помогаем планете их возобновлять. Мы даем вторую жизнь отслужившим товарам, которые становятся сырьем для новых вещей.
                            blockquote Мы заботимся о всех людях, на которых влияет наш бизнес. Мы за равные права и возможности для каждого.
                            p Мы заботимся о всех людях, на которых влияет наш бизнес. Мы за равные права и возможности для каждого.
                            h4 Заголовок h4
                            p Мы разумно используем природные богатства и помогаем планете их возобновлять. Мы даем вторую жизнь отслужившим товарам, которые становятся сырьем для новых вещей.
                            p
                                img.img-fluid(src="/img/test.jpg")
                            h5 Заголовок h5
                            p Мы разумно используем природные богатства и помогаем планете их возобновлять. Мы даем вторую жизнь отслужившим товарам, которые становятся сырьем для новых вещей.
                            h6 Заголовок h6
                            p Мы разумно используем природные богатства и помогаем планете их возобновлять. Мы даем вторую жизнь отслужившим товарам, которые становятся сырьем для новых вещей.
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js")
