html(lang="ru")
    include chunks/head.pug
    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header_inline.pug
        main
            section.content.content_dark
                .container
                    .row
                        .col-xl-7.col-lg-7
                            .slider.slider_for
                                .slider__image
                                    img.slider__item(src="/img/demo-bg-1.jpg")
                                    img.slider__item(src="/img/demo-bg-2.jpg")
                                    img.slider__item(src="/img/demo-bg-2.jpg")
                                    img.slider__item(src="/img/demo-bg-2.jpg")
                                    img.slider__item(src="/img/demo-bg-2.jpg")
                                    img.slider__item(src="/img/demo-bg-2.jpg")
                                .slider__nav
                                    img.slider__item(src="/img/demo-bg-1.jpg")
                                    img.slider__item(src="/img/demo-bg-2.jpg")
                                    img.slider__item(src="/img/demo-bg-2.jpg")
                                    img.slider__item(src="/img/demo-bg-2.jpg")
                                    img.slider__item(src="/img/demo-bg-2.jpg")
                                    img.slider__item(src="/img/demo-bg-2.jpg")
                        .col-xl-5.col-lg-5
                            h1.h1.text-bold Кварцит золотистый
                            ul.breadcrumbs.breadcrumbs_light
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Главная
                                li.sep /
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Каталог
                                li.sep /
                                li.breadcrumbs__item Кварцит золотистый
                            .product-info
                                .product-info__item
                                    .product-info__name Артикул
                                    .product-info__val 008
                                .product-info__item
                                    .product-info__name Вес упаковки
                                    .product-info__val 21 кг
                                .product-info__item
                                    .product-info__name Размер панели
                                    .product-info__val 600х150х15 мм
                                .product-info__item
                                    .product-info__name Количество
                                    .product-info__val 7 шт
                                .product-info__price 2 550 руб 
                                    span.small за м2
                                .product-info__btn
                                    a.btn.btn_dark(data-fancybox data-src="#productModal" href="javascript:;") Заказать панель
                                    .modal.modal_callSmall#productModal
                                        p.h4.text-bold Заказ панели "Кварцит золотистый"
                                        form.form()
                                            .form__group
                                                input.form__input.form__input_full.phone(type="tel" placeholder="Телефон для связи")
                                                button.btn.btn_dark(type="submit" style="width: 100%;margin-top:20px;") получить расчёт
                                            .form__agree.checkbox
                                                input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                                label.checkbox__label(for="agree") согласен с 
                                                    a.checkbox__link(href="/assets/files/documents/policy.pdf" target="_blank") политикой конфиденциальности
            section.content.content_seo
                .container
                    .row
                        .col-xl-8.col-lg-10
                            ul.nav#myTab(role="tablist")
                                li.nav__item
                                    a.nav__link.active#description-tab(data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true") Описание
                                li.nav__item
                                    a.nav__link#info-tab(data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false") Характеристики
                                li.nav__item
                                    a.nav__link#delivery-tab(data-toggle="tab" href="#delivery" role="tab" aria-controls="delivery" aria-selected="false") Доставка и оплата
                                li.nav__item
                                    a.nav__link#build-tab(data-toggle="tab" href="#build" role="tab" aria-controls="build" aria-selected="false") Монтаж
                            .tab-content.tab-content_product#myTabContent
                                .tab-pane.fade.show.active#description(role="tabpanel" aria-labelledby="description-tab")
                                    p Фактура камня сочетает в себе строгость, изящность, эффектность и монументальность. Природный камень придаст самое важное качество - красоту во всех исполнениях - будь это ландшафтный дизайн, наружная облицовка или стильный интерьер. 
                                    p Часто применяется при декорировании жилых домов и, набирающем популярность, эко-стиль интерьеров от городских квартир до загородных домов. Камень, толщиной 10-20 мм легко крепиться на горизонтальную и вертикальную поверхность. Натуральный камень шунгит можно комбинировать с любыми отделочными материалами и создавать стильные интерьеры и экстерьеры.
                                    p Отделка натуральным камнем очень практична. Применять натуральный камень в интерьере квартиры можно весьма широко - это и расставление акцента в определенных зонах, каменные ступени, пороги и перила, арки, стены и колонны, сауны и бассейны. 
                                .tab-pane.fade#info(role="tabpanel" aria-labelledby="info-tab")
                                    p 2
                                .tab-pane.fade#delivery(role="tabpanel" aria-labelledby="delivery-tab")
                                    p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.
                                    p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону, ведь именно из его трактата «О пределах добра и зла» средневековый книгопечатник вырвал отдельные фразы и слова, получив текст-«рыбу», широко используемый и по сей день. Конечно, возникают некоторые вопросы, связанные с использованием Lorem ipsum на сайтах и проектах, ориентированных на кириллический контент – написание символов на латыни и на кириллице значительно различается.
                                .tab-pane.fade#build(role="tabpanel" aria-labelledby="build-tab")
                                    p 4
        include chunks/footer.pug
        

        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/util.js")
        script(src="./js/tab.js")
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/app.min.js")
